node_modules
dist
out
.DS_Store
.eslintcache
*.log*
/src/renderer/public/video-cover.mp4
/src/renderer/public/video-cover02.mp4
/src/renderer/public/video-cover03.mp4
/src/renderer/public/video-cover03.mov
/src/renderer/public/video-cover04.mov
/src/renderer/public/video-cover05.mov
/src/renderer/public/video-cover06.mov

package-lock.json
.env