.page-did-hub {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  aspect-ratio: 685 / 1218;
  height: 100vh;
  margin: 0 auto;

  .page-did-hub__contents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;

    h1 {
      font-size: 60px;
      font-weight: 700;
    }

    p {
      font-size: 36px;
      line-height: 1.34;
      margin: 34px 0 80px 0;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 68px;
      background: #002f6c;
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      border: none;
    }
  }

  .page-did-hub__contents.gray {
    background: #dcd6ce;
  }
}

.did-swiper {
  .swiper-slide {
    background: #fff;
  }
}
