.page-did-hub {
  position: relative;
  display: grid;
  // grid-template-rows: 1fr 1fr;
  aspect-ratio: 685 / 1218;
  height: 100vh;
  margin: 0 auto;

  .logo {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 240px;
  }

  .page-did-hub__contents {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    height: 70vh;
    padding: 40px;

    h1 {
      font-size: 60px;
      font-weight: 700;
    }

    p {
      font-size: 36px;
      line-height: 1.34;
      margin: 60px 0 140px 0;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 68px;
      background: #002f6c;
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      border: none;
    }
  }

  .page-did-hub__contents.gray {
    background: #dcd6ce;
  }
}

.did-swiper {
  .swiper-slide {
    position: relative;
    background: #fff;
  }

  // .logo {
  //   position: absolute;
  //   top: 30px;
  //   right: 20px;
  //   width: 250px;
  // }
}
