@use 'variabels' as *;

.page-hub {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .page-hub__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }

  .page-hub__contents {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .page-hub__title {
    position: absolute;
    top: -5vw;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    font-size: 5vw;
    font-family: 'HyundaiSansHeadOffice', sans-serif !important;
    font-weight: 700;
    text-align: center;
  }

  .page-hub__btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2.5vw;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 2vw;
      height: 4vw;
      font-size: 1.8vw;
      font-weight: 500;
      box-shadow: 0 0 13px 3px rgba(128, 128, 128, 0.2);
      mix-blend-mode: multiply;
      background: #f8f8f8;
      border: .2vw solid #fff;
      border-radius: 2vw;
      color: #424242;
    }
  }
}

.page-hub--bg {
  background: url('/bg-cover.jpg') no-repeat center;
  background-size: cover;
}
