* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  font-family: 'HyundaiSansHeadKR', sans-serif;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
