@use 'variabels' as *;

.page-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $bg;

  .page-settings__wrapper {
    width: 100%;
    max-width: 500px;
    padding: 40px;
    background: #fff;
    border-radius: 12px;
  }

  .page-settings__title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
  }

  .page-settings__group {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
      font-size: 16px;
      font-weight: 700;
    }

    input {
      display: flex;
      align-items: center;
      padding: 0 16px;
      border: 1px solid #ddd;
      height: 48px;
      border-radius: 8px;
      font-size: 16px;
    }
  }

  .page-settings__text {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 24px;
  }

  .page-settings__btn-group {
    display: flex;
    align-items: center;
    gap: 16px;

    button {
      flex: 1 1 0;
      border: 3px solid $bg;
      background: $primary;
      color: #fff;
      aspect-ratio: 1/.5;
      border-radius: 8px;
      font-size: 26px;
      font-weight: 500;
      padding: 0 20px;
      transition: all .3s ease;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }

  .page-settings__reset {
    margin-top: 24px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid red;
      background: transparent;
      color: red;
      width: 100%;
      height: 56px;
      font-size: 20px;
      font-weight: 600;
      border-radius: 8px;
    }
  }
}
